/Documents/NetBeansProjects/WebApplication1/nbproject/private/
/Documents/NetBeansProjects/WebApplication1/build/
/Documents/NetBeansProjects/WebApplication2/nbproject/private/
/Documents/NetBeansProjects/WebApplication/nbproject/private/
/Documents/NetBeansProjects/WebApplication/build/
/Documents/NetBeansProjects/WebApplication/dist/
/Documents/NetBeansProjects/mavenproject1/target/
/Documents/NetBeansProjects/WebApplication3/nbproject/private/
/Documents/NetBeansProjects/WebApplication3/build/
/Documents/NetBeansProjects/testing/nbproject/private/
/Documents/NetBeansProjects/testing/build/
/Documents/NetBeansProjects/WebApplication4/nbproject/private/
/Documents/NetBeansProjects/WebApplication4/build/
/Documents/NetBeansProjects/Stu_JSP_project/nbproject/private/
/Documents/NetBeansProjects/Stu_JSP_project/build/
